body {
  background-image: url(https://github.com/WillsDissolve/PERSONAL-PORTFOLIO/blob/main/img/indexBGv3.jpg?raw=true);
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: black;
  font-family: "Bebas Neue", sans-serif;
}

p {
color: gray;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}
